jug-wanted-card {
    ion-card {
        .card-content {
            p {
                margin: 0 0 4px;
            }
        }
        .card-image {
            position: relative;
            img {
                width: 100%;
                display: block;
            }
            .caption {
                position: absolute;
                z-index: 101;
                bottom: 0;
                left: 0;
                width: 100%;
                background-color: rgba(color($colors, primary, base), 0.8);
                padding: $jugs-card-padding-top $jugs-card-padding-end $jugs-card-padding-bottom $jugs-card-padding-start;
                .title {
                    font-size: 2.5rem;
                    font-weight: bold;
                    padding-top: 3px;
                    color: #fff;
                }
                .subtitle {
                    font-size: 1.6rem;
                    color: #fff;
                }
            }
        }
        ion-row.top-border {
            border-top: 1px solid lightgray;
        }
    }
}