<ion-card>
    <div class="card-image">
        <img src="/assets/images/collage.jpg">
        <div class="caption">
            <div class="subtitle">JUG Saxony e.&thinsp;V.</div>
            <div class="title">Wir brauchen Eure Unterstützung</div>
        </div>
    </div>
    <ion-card-content>
        <p>
            Der JUG Saxony e.&thinsp;V. - insbesondere unsere Veranstaltungen - können nur mit Eurer Unterstützung erfolgreich sein. Mehr Teilnehmer bedeuten mehr Kontakte und eine größere Attraktivität für Referenten.
        </p>
        <ion-card-title>
            Wie könnt Ihr uns unterstützen?
        </ion-card-title>
        <p>
            Kommt zu unseren Veranstaltungen. Werdet Mitglied in unserer XING-Gruppe und folgt unseren Social Media Kanälen <a href="https://twitter.com/jugsaxony" target="_blank">Twitter</a> und <a href="https://www.instagram.com/jugsaxony/" target="_blank">Instagram</a>. Macht Werbung für die JUG Saxony und ladet weitere Teilnehmer ein.
        </p>
        <p>
            Gebt uns Feedback: Was hat Euch gefallen? Was sollte geändert werden? Welche Themen interessieren Euch? Über welches Thema möchtet Ihr selbst einmal sprechen?
        </p>
    </ion-card-content>
    <ion-row no-padding class="top-border">
        <ion-col text-right>
            <a class="button" href="mailto:team@jugsaxony.org" ion-button color="dark" clear small icon-start>
                <ion-icon name="send"></ion-icon>
                team@jugsaxony.org
            </a>
        </ion-col>
    </ion-row>
</ion-card>