.jugs-tabs {
    ion-header {
        ion-title {
            ion-badge {
                vertical-align: text-top;
                padding: 5px 8px;
                text-transform: uppercase;
            }
        }
    }
}